/* .user-story-image {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  align-self: center;
  cursor: pointer;
}

.user-story-image:hover {
  border: 4px solid #007bff;
}

.home-container {
  padding: 20px 20px 20px 10px;
  margin: 15px;
}

.user-story-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.slider-container {
  position: relative;
}

.slick-prev {
  position: absolute;
  left: -19px; 
  top: 50px;
  color: #007bff;
}

.slick-next {
  position: absolute;
  color: #007bff;
  top: 50px;
}

.slick-prev:hover,
.slick-next:hover {
  color: #007bff;
}
.user-name {
  font-size: 12px;
  font-weight: 700;
}
.container {
  outline: none; 
  background-color: transparent; 
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.each-post-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  margin-top: 40px;
}
.post-image {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .home-container {
    padding: 40px 40px 40px 80px;
  }
  .each-post-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .slick-prev {
    left: -50px;
    top: 50px;
  }
  .slick-next {
    top: 50px;
  }
  .user-name {
    font-size: 18px;
  }
  .post-image {
    width: 50%;
  }
}

@media screen and (mi-width: 992px) {
  .each-post-container {
    grid-template-columns: repeat(3, 1fr);
  }
} */

.main-container {
  background-color: #fafafa;
}
