.website-logo-header {
  width: 59px;
  height: 30px;
}

.button {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.insta-share-heading-header {
  height: 24px;
  color: #262626;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}
.header-container {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-evenly;
  border-bottom: 1px solid #d9d9d9;
}
.small-container {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}
.small-container:hover,
.small-container:active {
  background-color: white;
}
.small-container:focus {
  outline: none;
  background-color: white;
}

.medium-container {
  display: none;
}
.search-box {
  background-color: #f2f2f2;
  display: flex;
  gap: 10px;
  align-items: center;
  box-sizing: content-box;
  cursor: pointer;
  border-radius: 4px;
  height: 28px;
  padding: 4px 10px 4px 10px;
}
.search-input {
  border: none;
  cursor: pointer;
  background-color: #f2f2f2;
  outline: none;
  font-size: 16px;
  color: black;
  font-weight: 600;
}
.header-link {
  font-size: 18px;
  font-weight: 600;
}
.header-link:hover {
  text-decoration: underline;
}
.logout-button {
  width: 120px;
  height: 30px;
  cursor: pointer;
  outline: none;
  background-color: #4094ef;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
.nav-item-link {
  text-decoration: none; /* Remove underline from link */
  background-color: transparent; /* No background color */
  outline: none; /* Remove outline */
  cursor: pointer; /* Show pointer cursor */
  color: black;
}

@media screen and (min-width: 768px) {
  .small-container {
    display: none;
  }
  .insta-share-heading-header {
    font-size: 24px;
  }
  .medium-container {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
  }
}
